---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <h1 class="h-4 w-4 flex-col font-bold text-white flex ">Astro</h1>
    <div class="pt-2 p-4 "></div>
  </body>
</html>
